
  html {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
  }
  
  body {
    background-color: #9CE3F0;
    color: #1B0404;
  }
  
  p {
    line-height: 150%;
    color: #080808;
  }

  .banner{
    background-image: url("/static/obrazek_filmy.jpg");
    height: 200px;
  }
